<div id="banner">
    <div id="about">
        <img src="<%- theme.avatar %>" alt="avatar">
        <div class="info">
        <p class="name"><%- config.author%></p>
        <p class="description"><%- config.description%></p>
        </div>
    </div>
</div>