// @import "navbar.scss";

$backgroundColor: #eee;
$large: 1024px;
$medium: 768px;
$small: 480px;
$largeWidth: 960px;
$windowsFont : "Microsoft YaHei","微软雅黑","FangSong","仿宋",;
$macFont: "Hiragino Sans GB", "冬青黑体","STFangsong", "华文仿宋",;
$footerHeight: 30px;


* {
    font-family: "Lucida Console",Monaco, $windowsFont, $macFont, sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: $backgroundColor;
    position: relative;
    min-height: 100vh;
    word-spacing: .2em;
    line-height: 1.8em;
    font-weight: normal;
    font-style: normal;
    //background: #eee;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    flex:1;
    padding: 8px 0 0;
    margin: 0 auto;
    width: $largeWidth;
    position: relative;
    #main {
        width: 75%;
        float: right;
    }
    box-sizing: border-box;
}
#container::after {
    content: '';
    display: block;
    clear: both;
}

#navbar {
    background: white;
    position: relative;
    width: 100%;
    text-align: right;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    ul {
        // line-height: 50px;
        padding:10px;
        max-width: $largeWidth;
        margin: 0 auto;
    }
    li {
        //font-size: 20px;
        margin: 0 10px;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-bottom: 2px solid #000;
    }

    li:hover::before {
        width: 100%;
        transition: width 0.5s;
    }
}

.arrow {
  content: url("../img/arrow.png");
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@import "github-gist.css";
@import "archive.scss";
@import "footer.scss";
@import "aside.scss";
@import "widget-personal.scss";
@import "article.scss";
